@page
@using Humanizer
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "Manage/_Layout";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
<div class="row">
    <div class="col-md-6">
        <h5>Profile details</h5>
    </div>
</div>
<p>This account was created on
    @TimeZoneInfo.ConvertTimeFromUtc(Model.CreatedTime.DateTime, TimeZoneInfo.Local).ToString("MMMM d, yyyy h:mm tt zzz")
    (@( (DateTimeOffset.Now - Model.CreatedTime).Humanize(3, countEmptyUnits:true)) ago)</p>

<div class="row">
    <div class="col-md-6">
        <h5>Username</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" asp-page-handler="Username">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @if (Model.CanEditUsername)
                {
                    @:You can change your username once every @Model.UsernameChangeDelay days. Note that your past usernames can always be retrieved publicly, for administrative purposes.
                }
                else
                {
                    @:You changed your username recently, and must wait until @Model.NextUsernameChangeAllowed.ToString("D") before you can change it again.
                }
            </div>
            <div class="form-group">
                <input asp-for="Username" class="form-control" disabled="@(!Model.CanEditUsername)" />
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary" disabled="@(!Model.CanEditUsername)">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
