@page
@model SS14.Web.Areas.Admin.Pages.Clients.Client
@* Oh god this file is going to be horrible to refactor for openiddict *@
@{
    // TODO: Replace identityserver4 code in this file

    ViewData["Title"] = $"OAuth Client: {Model.Title}";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="../Index">Hub Admin</a></li>
        <li class="breadcrumb-item"><a asp-page="./Index">OAuth Clients</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<partial name="_StatusMessage" model="Model.StatusMessage"/>

<h5>Options</h5>
<form method="post" class="container">
<div class="form-group row">
    <div class="col-sm-9 offset-sm-3">
        <div class="form-check">
            <input asp-for="Input.Enabled" class="form-check-input"/>
            <label asp-for="Input.Enabled" class="form-check-label"></label>
        </div>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Input.ClientId" class="col-sm-3 col-form-label"></label>
    <input asp-for="Input.ClientId" class="form-control col-sm-9"/>
</div>

<div class="form-group row">
    <label asp-for="Input.ClientName" class="col-sm-3 col-form-label"></label>
    <input asp-for="Input.ClientName" class="form-control col-sm-9"/>
</div>

<div class="form-group row">
    <label asp-for="Input.ConsentType" class="col-sm-3 col-form-label"></label>
    <select asp-for="Input.ConsentType" class="form-control col-sm-9" asp-items="Model.ConsentTypes.Select(x => new SelectListItem(x, x))"></select>
</div>

<div class="form-group row">
    <label asp-for="Input.RedirectUris" class="col-sm-3 col-form-label"></label>
    <textarea asp-for="Input.RedirectUris" class="form-control col-sm-9"></textarea>
</div>

<div class="form-group row">
    <label asp-for="Input.AllowedScopes" class="col-sm-3 col-form-label"></label>
    <textarea asp-for="Input.AllowedScopes" class="form-control col-sm-9" rows="6"></textarea>
</div>

<div class="form-group row">
    <label asp-for="Input.AllowedGrantTypes" class="col-sm-3 col-form-label"></label>
    <textarea asp-for="Input.AllowedGrantTypes" class="form-control col-sm-9"></textarea>
</div>

<div class="form-group row">
    <div class="col-sm-9 offset-sm-3">
        <div class="form-check">
            <input asp-for="Input.RequirePkce" class="form-check-input"/>
            <label asp-for="Input.RequirePkce" class="form-check-label"></label>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-9 offset-sm-3">
        <div class="form-check">
            <input asp-for="Input.AllowPlainTextPkce" class="form-check-input"/>
            <label asp-for="Input.AllowPlainTextPkce" class="form-check-label"></label>
        </div>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Input.ClientUri" class="col-sm-3 col-form-label"></label>
    <input asp-for="Input.ClientUri" class="form-control col-sm-9"/>
</div>

<div class="form-group row">
    <label asp-for="Input.LogoUri" class="col-sm-3 col-form-label"></label>
    <input asp-for="Input.LogoUri" class="form-control col-sm-9"/>
</div>

<div class="form-group row">
    <label asp-for="Input.PostLogoutRedirectUris" class="col-sm-3 col-form-label"></label>
    <textarea asp-for="Input.PostLogoutRedirectUris" class="form-control col-sm-9"></textarea>
</div>

<div class="form-group row">
    <div class="col-sm-9 offset-sm-3">
        <div class="form-check">
            <input asp-for="Input.AllowOfflineAccess" class="form-check-input"/>
            <label asp-for="Input.AllowOfflineAccess" class="form-check-label"></label>
        </div>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Input.AllowedIdentityTokenSigningAlgorithms" class="col-sm-4 col-form-label"></label>
    <input asp-for="Input.AllowedIdentityTokenSigningAlgorithms" class="form-control col-sm-8"/>
</div>
<div class="row">
    <p class="col-sm-3 font-weight-bold">Lifetimes</p>
    <p class="col-sm-9 text-muted">0 = default</p>
</div>
<div class="form-group row">
    <label asp-for="Input.IdentityTokenLifetime" class="col-sm-3 col-form-label"></label>
    <input asp-for="Input.IdentityTokenLifetime" class="form-control col-sm-9"/>
</div>

<div class="form-group row">
    <label asp-for="Input.AccessTokenLifetime" class="col-sm-3 col-form-label"></label>
    <input asp-for="Input.AccessTokenLifetime" class="form-control col-sm-9"/>
</div>

<div class="form-group row">
    <label asp-for="Input.RefreshTokenLifetime" class="col-sm-3 col-form-label"></label>
    <input asp-for="Input.RefreshTokenLifetime" class="form-control col-sm-9"/>
</div>

<button id="save-button" type="submit" asp-page-handler="Save" asp-route-id="@Model.App?.Id" class="btn btn-primary btn-sm">Save</button>
</form>

<h5 class="mt-5">Secrets</h5>

<table class="table table-dark">
    <thead>
    <tr>
        <th>Description</th>
        <th>Is Legacy?</th>
        <th>Created</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var secret in Model.Secrets)
    {
        <tr>
            <td>@secret.Description</td>
            <td>@secret.Legacy</td>
            <td>@secret.CreatedOn.ToUniversalTime() UTC</td>
            <td>
                <form method="post">
                    <button type="submit"
                            asp-page-handler="DeleteSecret" asp-route-secret="@secret.Id"
                            class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<form method="post" class="container">
    <div class="form-group row">
        <label asp-for="CreateSecretInput.Description" class="col-form-label col-md-1"></label>
        <input asp-for="CreateSecretInput.Description" class="form-control col-md-3" placeholder="Description">
        <label asp-for="CreateSecretInput.Value" class="col-form-label col-md-1"></label>
        <input asp-for="CreateSecretInput.Value" class="form-control col-md-3" placeholder="Value">
        <button type="submit" asp-route-id="@Model.App?.Id" asp-page-handler="CreateSecret" class="btn btn-primary col-md-1">Create</button>
    </div>
</form>

<h5 class="mt-5">Actions</h5>
<a asp-page="./ConfirmDelete" asp-route-id="@Model.App?.Id" class="btn btn-danger">Delete</a>
