@page
@model SS14.Web.Areas.Admin.Pages.Clients.Index

@{
    ViewData["Title"] = "OAuth Clients";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="../Index">Hub Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

@if (TempData.ContainsKey("StatusMessage"))
{
    <partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
}

<form asp-page-handler="NewClient" method="post">
    <button type="submit" class="btn btn-success">New Client</button>
</form>

<table class="table table-dark">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Registering user</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var app in Model.Apps)
        {
            <tr>
                <td>@app.ClientId</td>
                <td>@app.DisplayName</td>
                <td>
                    @if (app.SpaceUserId is { } id)
                    {
                        <a asp-page="../Users/ViewUser" asp-route-id="@id">@(await Model.GetUserNameAsync(id))</a>
                    }
                </td>
                <td>
                    <a asp-page="./Client" asp-route-id="@app.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

