@page "{client}"
@using SS14.Auth.Shared
@model SS14.Web.Areas.Identity.Pages.Account.Manage.OAuthApps.Manage

@* TODO: Replace identityserver4 code in this file *@

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = $"Manage OAuth app {Model.App.DisplayName}";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>@ViewData["Title"]</h2>
            <hr/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <strong>Client ID:</strong> <span class="text-monospace">@Model.App.ClientId</span><br/>
            Only Authorization Code flow is accepted<br/>
            Available scopes are: <span class="text-monospace">openid</span>, <span class="text-monospace">profile</span>, <span class="text-monospace">email</span><br/>
            SS14 implements OpenID Connect via OpenIddict. See <a class="text-monospace" href="@Url.Content("~/.well-known/openid-configuration")">.well-known/openid-configuration</a> for config and endpoints.
        </div>
    </div>
    <div class="row">
        <form class="col-lg-6" method="post">
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control"/>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CallbackUrl"></label>
                <input asp-for="Input.CallbackUrl" class="form-control"/>
                <span asp-validation-for="Input.CallbackUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.HomepageUrl"></label>
                <input asp-for="Input.HomepageUrl" class="form-control"/>
                <span asp-validation-for="Input.HomepageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="Input.RequirePkce" class="form-check-input"/>
                    <label asp-for="Input.RequirePkce" class="form-check-label"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="Input.AllowPS256" class="form-check-input"/>
                    <label asp-for="Input.AllowPS256" class="form-check-label"></label>
                </div>
            </div>
            <button type="submit" asp-page-handler="Update" class="btn btn-primary">Update</button>
        </form>
        <div class="col-lg-6">
            <div class="row">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5>Client secrets</h5>
                        <form method="post">
                            <button type="submit" class="btn btn-sm btn-primary" asp-page-handler="CreateSecret">Generate new secret</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list-group">
                        @* TODO: Change once I know if I need to support multiple secrets *@
                        @foreach (var secret in Model.Secrets.OrderByDescending(a => a.CreatedOn))
                        {
                            var show = Model.ShowSecret == secret.Id;

                            <div class="list-group-item d-flex justify-content-between align-items-center @(show ? "list-group-item-success" : "")">
                            <div>
                                <span class="text-monospace">@(show ? Model.ShowSecretValue : $"****************************{secret.Description}")</span>
                                <br/>
                                <span class="text-muted">Created at @secret.CreatedOn UTC</span>
                            </div>
                            <form method="post">
                                <button type="submit"
                                        asp-page-handler="DeleteSecret" asp-route-secret="@secret.Id"
                                        class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a asp-page="./ConfirmDelete" class="btn btn-danger" asp-route-client="@Model.App.Id">Delete</a>
            @if (User.IsInRole(AuthConstants.RoleSysAdmin))
            {
                <a asp-area="Admin" asp-page="/Clients/Client" class="btn btn-primary" asp-route-id="@Model.App.ClientId">Hub Admin</a>
            }
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
