@page
@using Microsoft.Extensions.Primitives
@using OpenIddict.Abstractions
@using SS14.Web.Extensions
@using SS14.Web.Helpers
@model SS14.Web.Areas.Identity.Pages.Account.Consent

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Authorize application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="d-flex justify-content-center align-items-center">

<!-- totally not ripped from github's -->

<form style="max-width: 500px" method="post" class="container-fluid">
    @* Pass request parameters through so they can be handled by the accept/deny handlers*@
    @foreach (var parameter in HttpContext.Request.HasFormContentType ? (IEnumerable<KeyValuePair<string, StringValues>>) HttpContext.Request.Form : HttpContext.Request.Query)
    {
        <input type="hidden" name="@parameter.Key" value="@parameter.Value"/>
    }

    <div class="row">
        <div class="col">
            <img alt="Space Station 14" src="~/logo-long-auth-o.svg" class="img-fluid p-3"/>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center">
            <h2 class="text-center flex-grow-1 m-3">Authorize @*@Model.AuthRequest.Client.ClientName*@</h2>
            @if (!string.IsNullOrWhiteSpace(Model.Application?.LogoUri))
            {
                <img class="rounded" height="48" src="@Model.Application?.LogoUri" alt="@Model.Application?.DisplayName"/>
            }
        </div>
    </div>
    <div class="row consent-wrap">
        <div class="col consent-contents">
            <div class="row mb-3">
                <div class="col">
                    <strong>@Model.Application?.DisplayName</strong>
                    @if (Model.Application?.SpaceUser != null)
                    {
                        <span>
                            by <strong>@Model.Application?.SpaceUser?.UserName</strong>
                        </span>
                    }
                    <br/> wants access to your account <strong>@User.Identity!.Name</strong>
                </div>
            </div>
            @{
                // openid is not worth showing.
                var scopes = Model.AuthRequest?.GetScopes()
                    .Where(c => c != "openid")
                    .ToArray();
            }
            <div class="row mb-3">
                <div class="col">
                    <strong>Requested Account Information</strong>
                    <ul class="pl-3">
                        @foreach (var scope in scopes ?? [])
                        {
                            <li>
                                @ScopeHelper.GetScopeName(scope)
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button name="Button" value="no" class="btn-block btn btn-dark">Cancel</button>
                </div>
                <div class="col-6">
                    <button  name="Button" value="yes" class="btn-block btn btn-success">Authorize</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
