@page
@model SS14.Web.Areas.Identity.Pages.Account.Consent

@{
    Layout = null;
}
@* TODO: Replace identityserver4 code in this file *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Authorize application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="d-flex justify-content-center align-items-center">

<!-- totally not ripped from github's -->

<form style="max-width: 500px" method="post" class="container-fluid">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div class="row">
        <div class="col">
            <img alt="Space Station 14" src="~/logo-long-auth-o.svg" class="img-fluid p-3"/>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center">
            <h2 class="text-center flex-grow-1 m-3">Authorize @*@Model.AuthRequest.Client.ClientName*@</h2>
            @*@if (!string.IsNullOrWhiteSpace(@Model.AuthRequest.Client.LogoUri))
            {
                <img class="rounded" height="48" src="@Model.AuthRequest.Client.LogoUri" alt="@Model.AuthRequest.Client.ClientName"/>
            }*@
        </div>
    </div>
    <div class="row consent-wrap">
        <div class="col consent-contents">
            <div class="row mb-3">
                <div class="col">
                    @*<strong>@Model.AuthRequest.Client.ClientName</strong>*@
                    @if (Model.UserClient != null)
                    {
                        <span>
                            by <strong>@Model.UserClient.SpaceUser.UserName</strong>
                        </span>
                    }
                    <br/> wants access to your account <strong>@User.Identity!.Name</strong>
                </div>
            </div>
            @{
                // openid and profile are not worth showing.
                @*var identityResources = Model.AuthRequest.ValidatedResources.Resources.IdentityResources
                    .Where(c => c.Name != "openid" && c.Name != "profile")
                    .ToArray();*@
            }
            <div class="row mb-3">
                <div class="col">
                    <strong>Requested Account Information</strong>
                    <ul class="pl-3">
                        <li>Name and user ID</li>
                        @*@foreach (var resource in identityResources)
                        {
                            <li>
                                @resource.DisplayName
                            </li>
                        }*@
                    </ul>
                </div>
            </div>
            <!-- TODO: non-identity scopes -->
            <div class="row">
                <div class="col-6">
                    <button name="button" value="no" class="btn-block btn btn-dark">Cancel</button>
                </div>
                <div class="col-6">
                    <button name="button" value="yes" class="btn-block btn btn-success">Authorize</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
